/*Agenda styling*/

.row.mb-3:nth-child(1) .date, .row.mb-3:nth-child(1)  .sponsor {
    display:none
    }
.row.mb-3:nth-child(1) .item-name {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #104a65;
    border-top: 2px solid #104a65;
    text-align: center;
    padding: 10px;
}
.row.mb-3:nth-child(1) em {
    font-size: 18px;
    font-style: normal !important;
}

.row.mb-3:nth-child(1) p {
    line-height: 1.2;
}

.row.mb-3:nth-child(1) {
    padding: 0px 20px 10px 20px !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.row.mb-3:nth-child(1) .text-left {
    display: none;
}

.row.mb-3:nth-child(1) .col-md-9 {
    width: 100%;
    max-width: 100%;
    flex: none;
    padding: 0px !important;
    padding: 10px 40px 40px 40px !important;
}

.row.mb-3 .col-12:nth-child(1) {
    display: none;
}

@media screen and (max-width: 576px) {
    .row.mb-3:nth-child(1) .col-md-9 {
        padding: 10px 10px 10px 10px !important;
    }
}

.tabs {
padding-inline-start: 0px;
}







/*Sponsor styling*/

.agenda-headline-sponsor h5, .agenda-day-sponsor h5 {
    color:white;
    font-size: 14px;
    font-family: gill-sans-nova, sans-serif;
    text-transform: uppercase;
    opacity: 0.8;


}
.agenda-headline-sponsor img {
    width: 70px;
    max-width 80%;
    height: auto;
}
.agenda-day-sponsor h5 {
    color: black;
    padding: 20px;
}
.agenda-day-sponsor img {
    width: 120px;
    max-width 80%;
    height: auto;
    
}
.tabs .agenda-day-sponsor a {
    border: none;
}

.agenda-headline-sponsor {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;  
}

.agenda-headline-sponsor > * {
    margin: 10px;
}

.page-agenda .container ul.tabs {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
}

.page-agenda .container li {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 320px;
}

.page-agenda .tabs li a {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .page-agenda .container ul.tabs {
        flex-direction: column;

    }
    .page-agenda .container li {
        flex-direction: row;
    }

    div.agenda-day-sponsor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .agenda-day-sponsor h5 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}