  /* All HubSpot Forms
   ========================================================================== */

.hs-form ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
  }
  
.hs-form ul li {
  margin-bottom: 5px;
  }
  
/* Form Field (selector for form field wrapper) */
.hs-form .hs-form-field {
  color: #0b4a65;
  }

/* Descriptions (targets class applied to Help Text divs) */
.hs-form .hs-field-desc {}

/* Labels (selects field labels and error messages) */
.hs-form label, .hs-form .hs-richtext h6 {
    font-family: gill-sans-nova, arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

/* this selects field headings only, not e.g. checkbox labels*/
.hs-form .hs-form-field > label, .hs-form .hs-richtext h6 {
  font-weight: 600;
  margin-top: 40px;
  border-left: solid 10px #e1b636;
  margin-left: -50px;
  padding-left: 40px;
}

/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"], 
.hs-form input[type="datetime"], 
.hs-form input[type="datetime-local"], 
.hs-form input[type="date"], 
.hs-form input[type="month"], 
.hs-form input[type="time"], 
.hs-form input[type="week"], 
.hs-form input[type="number"], 
.hs-form input[type="email"], 
.hs-form input[type="url"], 
.hs-form input[type="search"], 
.hs-form input[type="tel"], 
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select 
  {
  color: black;
  font-size: 16px;
  height: 50px;
  border: none;
  padding: 10px;
  }

/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type="text"]:focus,
.hs-form input[type="password"]:focus, 
.hs-form input[type="datetime"]:focus, 
.hs-form input[type="datetime-local"]:focus, 
.hs-form input[type="date"]:focus, 
.hs-form input[type="month"]:focus, 
.hs-form input[type="time"]:focus, 
.hs-form input[type="week"]:focus, 
.hs-form input[type="number"]:focus, 
.hs-form input[type="email"]:focus, 
.hs-form input[type="url"]:focus, 
.hs-form input[type="search"]:focus, 
.hs-form input[type="tel"]:focus, 
.hs-form input[type="color"]:focus,
.hs-form input[type="file"]:focus,
.hs-form textarea:focus,
.hs-form select:focus {}

/* Multi-line inputs (selectors to target multi-line fields */
.hs-form textarea {}
.hs-form textarea:focus {}

/* Dropdowns (selectors for dropdowns) */
.hs-form select {}
.hs-form select:focus {}

/* Multi-select (selectors for multi-select fields) */
.hs-form form.hs-form .hs-form-field ul.inputs-list {}

.hs-form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs-form input[type="radio"] {}
.hs-form input[type="checkbox"], .hs-form input[type="radio"] {
  margin-right: 10px;
  /*transform: scale(1.2);*/
  border: none;
  }

/* Required (selectors for fields, when they do not pass validation) */
.hs-form input:focus:required:invalid, 
.hs-form textarea:focus:required:invalid, 
.hs-form select:focus:required:invalid {}

.hs-form input:focus:required:invalid:focus, 
.hs-form textarea:focus:required:invalid:focus, 
.hs-form select:focus:required:invalid:focus {}

/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label
  {
  color: #0b4a65;
  }

/* Placeholder Text (styles the placeholder attribute text) */
::-webkit-input-placeholder { /* Webkit Browsers */}
:-moz-placeholder { /* Firefox 18- */}
::-moz-placeholder { /* Firefox 19+ */}
:-ms-input-placeholder { /* IE10 */}

/* Multi Column Form (selectors for fieldsets and field wrappers) 
   ========================================================================== */

.hs-form fieldset.form-columns-1 {
  margin-bottom: 20px;
  }
.hs-form .hs-form fieldset.form-columns-1 .hs-form-field {}

.hs-form fieldset.form-columns-2 {
   margin-bottom: 20px;
  }
.hs-form .hs-form fieldset.form-columns-2 .hs-form-field {}

.hs-form .hs-form fieldset.form-columns-3 {}
.hs-form .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Submit buttons (selectors for all non-CTA buttons) 
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  align-items: center; */
    /* text-align: center; */
    /* font-size: 18px; */
    /* padding: 12px 20px 12px 20px; */
    margin: 10px;
    border: none;
    background-color: #0b4a65;
    color: white;
    padding: 14px 30px 16px;
    border-radius: 5px;
    /* background-color: #e1b636; */
    /* -webkit-transition: all 200ms ease; */
    transition: all 200ms ease;
    /* color: #0b4a65; */
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  	cursor: pointer;
  white-space: normal;
word-wrap: break-word;
  }

body .hs-button.primary:hover, body input[type="submit"]:hover, body input[type="button"]:hover {
    background-color: white;
    color: #0b4a65;
    border: 2px solid #0b4a65;
  
  }

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}
  
  div.actions {
    text-align: center;
  }
  
  div.submitted-message p {
      font-size: 18px;
      text-align: center;
      line-height: 1.5;
  }

  fieldset {
    margin-top: 20px !important;
  }
  
  div.input[data-reactid~="categories_of_interest"] {
    padding-left: 10px;
  }
  
  .hs-form label {
    color: white;
  }
  .hs-form-field {
    margin-bottom: 40px;
  }
  .hs-form .hs-error-msgs label {
    color: #ffd91c;
  }
  input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
  }
  
  body .hs-button.primary, body input[type="submit"], body input[type="button"] {
    background-color: #0b4a65;
    color: white;
    border: 2px solid #0b4a65;
  }
  div.actions {
    margin-top: 40px;
  }
  .hs-form input[type="checkbox"] {
    transform: none;
  }
  .hs-richtext {
    margin-top: 40px;
  }
  .hs-richtext a {
    color:white !important;
  }
  .hs-form .legal-consent-container,  .hs-form .legal-consent-container label {
    color: #8f9193;
  }

  .hs-form .legal-consent-container {
    margin-top: 80px;
    border-top: 1px solid #8f9193;
    font-size: 16px;
  }
